/* *{
    margin: 0px;
    padding: 0px;
} */
#wrapper{
    background-color: rgb(26,52,90);
    margin: 0px auto;
    padding: 20px;
}

#header h{
    border-radius: 10px;
    font-size: 24pt;
    color: rgb(194,216,234);  
    background-color: rgb(211,44,57);
    padding: 20px 10px;
    display: block;
    font-weight: 900; 
    margin-bottom: 20px;
}

#main h{
    font-weight: 900;
    font-size: 20pt;
}

#sidebar{
    border-radius: 10px;
    background-color: rgb(31,125,138);
    margin-right: 20px;
    width: 230px;
    display: inline-block;
    color: rgb(194,216,234);
    vertical-align: top;
}
#main{
    border-radius: 10px;
    background-color: rgb(13,24,33);
    color: rgb(194,216,234);
    margin-left: 0;
    width: 940px;
    display: inline-block;
    padding: 15px;
}

#footer{
    margin-top: 20px;
    border-radius: 10px; 
    background-color: rgb(93,102,114);
    display: block;
    padding: 5px;
    color: rgb(194,216,234);
}

a{
    color: rgb(95,221,229);
    text-decoration: underline;
}

.home{
    position: relative;
    left: 20px;
    top: 15px;
}

#info{
    color: rgb(115,111,177);
}

#footer a{
    color: rgb(95,221,229);
    text-decoration: underline;
    font-weight: 500;
}
